{% extends 'pao/pao_base.html' %}
{% load wagtailcore_tags %}

{% block title %}Home - Python Asia - {{ page.title }}{% endblock %}

{% block content %}
<h2 class="mb-4">People of Python Asia</h2>
    {% for person in page.get_children.live %}
    <a href="{% pageurl person %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ person.title }}</h5>
          <small class="text-muted">{{ person.country }}</small>
        </div>
        <p class="mb-1">{{ person.content | richtext }}</p>
        <small class="text-muted">details</small>
    </a>
    {% empty %}
        Sorry there is no People
    {% endfor %}
</div>
{% endblock %}